/* App.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Signika', sans-serif;
  }
  
  .Container {
    display: flex;
    height: 100vh;
  }
  
  .BlueSection {
    flex: 1;
    background-color: #083D77;
    display: flex;
  }
  
  .RedSection {
    flex: 1;
    background-color: #F95738;
    display: flex;
  }
  
/* Partie relative aux composants internes à la BlueSection */

  .SearchContainer {
    background-color: #EBEBD3;
    height: 550px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    display: block;
  }

  .SearchTitle {
    margin: 5% auto 0 auto;
    text-align: center;
    font-family: 'Signika', sans-serif;
  }

/* Partie relative aux composants internes à la RedSection */


  .PlaylistContainer {
    background-color: #EE964B;
    height: 550px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    display: block;
  }

  .PlaylistTitle {
    margin: 5% auto 0 auto;
    text-align: center;
    font-family: 'Signika', sans-serif;
  }
